h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}
.container{
  margin: 0 auto;
  padding: 10px 50px;
  max-width: 50%;
  color: darkred;
}
.calculator {
  width: 150px;
  text-align: center;
  color: brown;
}  
.result {
  font-size: 3.0em;
  font-weight: bold;
  color: darkorange;
}
  
.operator1 {
  font-size: 1.5em;
  font-weight: bold;
  color: black;  
}
.operator2 {
  font-size: 1.5em;
  font-weight: bold;
  color: black; 
}

.addition-button {
  cursor: pointer;
  color: blue;
  padding: 12px 12px; 
  font-size: 18px; 
}
.substraction-button {
  cursor: pointer;
  color: green;
  padding: 12px 12px; 
  font-size: 18px; 
} 
.multiplication-button {
  cursor: pointer;
  color: red;
  padding: 12px 12px; 
  font-size: 18px; 
} 
.division-button{
  cursor: pointer;
  color: blueviolet;
  padding: 12px 12px; 
  font-size: 18px; 
}
.exp-button{
  cursor: pointer;
  color: chartreuse;
  padding: 12px 12px; 
  font-size: 18px; 
}
/*.sqr{
  cursor: pointer;
  color: deeppink;
  padding: 12px 12px; 
  font-size: 18px; 
}
.sqrt{
  cursor: pointer;
  color: gold;
  padding: 12px 12px; 
  font-size: 18px; 
}*/